@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "微软雅黑";
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  color: #ccc;
}

.b_a {
  width: 100%;
  min-width: 1366px;
  height: auto;
  height: 650px;
  background-image: url(../img/ban.jpg);
  background-size: 100%;
  /*opacity: 0.5;*/
}

.b_a .b_a_1 {
  height: 100%;
  width: 100%;
  /*background:#000;*/
}

.b_a .b_a_1 .b_a_1wen {
  width: 1100px;
  height: 186px;
  margin: 0 auto;
}

.b_a .b_a_1 .b_a_1wen ul {
  margin-top: 20px;
  height: 64px;
  width: 500px;
  line-height: 64px;
  float: left;
  border-bottom: 1px solid #000;
}

.b_a .b_a_1 .b_a_1wen ul li {
  float: left;
  height: 100%;
  width: 50%;
  text-align: center;
}

.b_a .b_a_1 .b_a_1wen .ul2 {
  margin-left: 100px;
}

.b_a .b_a_1 .b_a_1z {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}

.b_a .b_a_1 .b_a_1she {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
}

.b_a .b_a_1 .b_a_1she ul {
  height: 100%;
  width: 100%;
}

.b_a .b_a_1 .b_a_1she ul li {
  width: 100%;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

.b_a .b_a_1 .b_a_1she ul .lishe {
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
}

.b_a .b_a_1 .b_a_1kl {
  width: 1100px;
  height: 200px;
  margin: 40px auto;
}

.b_a .b_a_1 .b_a_1kl ul {
  height: 100%;
  width: 100%;
}

.b_a .b_a_1 .b_a_1kl ul span {
  display: block;
  margin: 0 auto;
  background: red;
  height: 80px;
  width: 80px;
  transform: rotate(45deg);
}

.b_a .b_a_1 .b_a_1kl ul .b_name {
  margin-top: 50px;
}

.b_a .b_a_1 .b_a_1kl ul li {
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.b_a .b_a_2 {
  width: 100%;
  height: 600px;
  margin-top: 100px;
}

.b_a .b_a_2 .b_a_2q, .b_a .b_a_2 .b_a_2w {
  text-align: center;
}

.b_a .b_a_2 .b_a_2e {
  height: auto;
  width: 1100px;
  margin: 0 auto;
}

.b_a .b_a_2 .b_a_2e ul {
  height: 48px;
  width: 100%;
  margin-bottom: 10px;
}

.b_a .b_a_2 .b_a_2e ul li {
  height: 100%;
  float: left;
  line-height: 48px;
  text-align: center;
  width: 5%;
  margin: 0 7%;
  cursor: pointer;
}

.b_a .b_a_2 .b_a_2e ul .ul_we {
  border-top: 2px solid red;
}

.b_a .b_a_2 .b_a_2e .ul_a {
  width: 100%;
  height: 240px;
}

.b_a .b_a_2 .b_a_2e .ul_a .bl {
  width: 340px;
  height: 192px;
  float: left;
  margin-left: 22px;
  background: red;
  margin-top: 22px;
}

.b_a .b_a_3 {
  width: 100%;
  height: 3540px;
}

.b_a .b_a_3 .b_a_3kong {
  width: 100%;
  height: 750px;
}

.b_a .b_a_3 .b_a_3q, .b_a .b_a_3 .b_a_3w {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.b_a .b_a_3 .b_a_3e {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.b_a .b_a_3 .b_a_3e .h12 {
  width: 100px;
  height: 50px;
  border-bottom: 1px solid red;
  margin: 0 auto;
  line-height: 50px;
  margin-bottom: 30px;
}

.b_a .b_a_3 .b_a_3e p {
  width: 100%;
  text-align: center;
  margin: 7px 0;
}

.b_a .b_a_3 .b_a_3e .jineng {
  height: 150px;
  width: 1100px;
  margin: 0 auto;
}

.b_a .b_a_3 .b_a_3e .jineng ul {
  height: 100%;
  width: 100%;
  line-height: 150px;
}

.b_a .b_a_3 .b_a_3e .jineng ul li {
  height: 100%;
  text-align: center;
  float: left;
  width: 12.5%;
}

.b_a .b_a_3 .b_a_3kong1 {
  width: 100%;
  height: 450px;
}

.b_a .b_a_3 .b_a_3p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 40px;
  text-align: center;
}

.b_a .b_a_3 .b_a_input {
  width: 1100px;
  margin: 0 auto;
}

.b_a .b_a_3 .b_a_input .inputp {
  height: auto;
  width: 100%;
}

.b_a .b_a_3 .b_a_input .inputp input {
  width: 40%;
  margin-top: 30px;
  height: 35px;
  border: 0;
  outline: none;
  border: 1px solid #000;
  border-radius: 15%;
  margin-left: 5%;
  padding: 5px;
  /*box-sizing: border-box;*/
}

.b_a .b_a_3 .b_a_input .inputp textarea {
  padding: 20px  80px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  border: 1px solid #ccc;
  height: 220px;
  width: 800px;
  border-radius: 30%;
  margin-left: 15%;
  margin-top: 30px;
  resize: none;
}

.b_a .b_a_3 .b_a_input .inputo {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.b_a .b_a_3 .b_a_input .inputo input {
  margin-left: 25%;
  border: 0;
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
  height: 25px;
  line-height: 13px;
  padding: 5px 10px;
  border-radius: 25%;
  cursor: pointer;
}

.b_a .b_a_3 .b_a_input .qq {
  height: 30px;
  margin-top: 10px;
  width: 1100px;
}

.b_a .b_a_3 .b_a_input .qq ul {
  height: 100%;
  width: 180px;
  margin: 0 auto;
}

.b_a .b_a_3 .b_a_input .qq ul li {
  height: 30px;
  width: 30px;
  background: red;
  float: left;
  margin-left: 20px;
}

.b_a .b_a_3 .b_a_kong2 {
  height: 465px;
  width: 100%;
}

.b_a .b_a_3 .b_a_weio {
  text-align: center;
  height: auto;
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 0;
}

.b_a .b_a_3 .b_a_weio hr {
  margin: 20px auto;
  width: 5%;
}

.b_a .b_a_3 .b_a_weio input {
  border: 0;
  outline: none;
  border: 1px solid #ccc;
  height: 35px;
  line-height: 13px;
  border-radius: 25%;
  background: #fff;
  margin-top: 100px;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .b_a {
    width: 100%;
    min-width: 1300px;
    height: 600px;
  }
}

@media only screen and (max-width: 1366px) {
  .b_a {
    width: 100%;
    min-width: 1344px;
    height: 600px;
  }
}
